.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;


}

.imageAndText {


}

.imageAndText img {
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.text {

}

.text:after {

}

.name {

}

.messageText {


}

.time {
    flex: 0 0 auto;
    margin-top: 5px;
    font: 600 10px Montserrat;
    color: rgba(0, 0, 0, 1);
}