.friendMessage {

}

.friendImageAndText {

}

.friendImageAndText img {
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {
    flex: 0 0 auto;
    margin-top: 5px;
    font: 600 10px Montserrat;
    color: rgba(0, 0, 0, 1);

}
